# Arquivos de Output do Laboratório
hashes.txt
wordlist.txt
john.pot                 # Arquivo de pot do JTR (onde armazena os hashes quebrados)
john.log
*.session

# Arquivos de Ambientes Virtuais (RECOMENDADO)
# Ignora a pasta do ambiente virtual (jtr_env no exemplo)
jtr_env/
.venv/
venv/

# Arquivos Comuns do Python
__pycache__/
*.pyc
*.pyo

# Arquivos Comuns de Logs e Cache
.DS_Store # macOS
*~ # Editores de texto